{% extends "cms/base.html" %}

{% block title %}ファイル結合{% endblock title %}

{% block content %}
<div class="le-block" id="block3">
    <div class="le-block-core">
        <h4><i class="material-icons">create</i> Lorem ipsum</h4>
    </div>
    <div class="le-block__menu">
        <button class="mdl-button mdl-js-button mdl-button--icon">
            <i class="material-icons">open_with</i>
        </button>
        <span class="le-block__menu_id">block3</span>
        <button class="mdl-button mdl-js-button mdl-button--icon">
            <i class="material-icons">delete</i>
        </button>
    </div>
</div>
{% endblock content %}
